.field-borderless {
    border: none;
    text-align: right;
    width: 2em;
}

#div-field-pincher {
    border: 1px solid grey;
    border-radius: 2px;
}

#field-hours {
    margin-left: 1px; /* this leftmost field will overlap the dummy border field if no margin-left. */
}


/* position: relative so dummy-border position: absolute can fit in;
display: inline-block so it fits tightly to the fields, allowing dummy-border width: 100% but also pushes vertically with margin-bottom 2px*/
#div-field-pincher {
    display: inline-block;
    position: relative;
    margin-bottom: 2px;
}

#button-start-pause {
    width: 6ch; /* Longest label: "pause" */
}

#div-footer {
    font-size: 0.75em;
    text-align: center;
}

