[Unit]
Description=Serves a timer web app on port 22608

[Service]
WorkingDirectory=/opt/webtimer
EnvironmentFile=/opt/webtimer/.env
ExecStart=node server.mjs

[Install]
WantedBy=multi-user.target
