[Unit]
Description=Serves a timer web app on port 22608

[Service]
WorkingDirectory=/opt/webtimer
ExecStart=. .env && node server.mjs

[Install]
WantedBy=multi-user.target
